.grid-css {
    max-width: 1140px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(12, 8.33%);
    height: 100%;
    z-index: -1;
}

.grid-css__col {
    height: 100%;
    background-color: bisque;
    width: 100%;
}

.grid-css__col:nth-child(odd) {
    background-color: rgba(255, 127, 80, 0.904);
}

