[class*="grid__col-"] {
    float: left;
    padding-right: $gutter;

    &:last-child {
        padding-right: 0;
        float: right;
    }
}


@for $i from 1 through 12 {
    .grid__col-#{$i} {
        width: 8.3333% * $i;
    }
}

@media (min-width: 540px) {
    @for $i from 1 through 12 {
        .grid__col-sm-#{$i} {
            width: 8.3333% * $i;
        }
    }
}

@media (min-width: 720px) {
    @for $i from 1 through 12 {
        .grid__col-md-#{$i} {
            width: 8.3333% * $i;
        }
    }
}

@media (min-width: 960px) {
    @for $i from 1 through 12 {
        .grid__col-lg-#{$i} {
            width: 8.3333% * $i;
        }
    }
}

@media (min-width: 1140px) {
    @for $i from 1 through 3 {
        .grid__col-xl-#{$i} {
            width: 8.3333% * $i;
        }
    }
}