[class*="grid__col-"] {
    float: left;
    padding-right: $gutter;
    padding-left: $gutter;
}


@for $i from 1 through 12 {
    .grid__col-#{$i} {
        width: 8.3333% * $i;
    }
}

@media (min-width: 576px) {
    @for $i from 1 through 12 {
        .grid__col-sm-#{$i} {
            width: 8.3333% * $i;
        }
    }
}

@media (min-width: 768px) {
    @for $i from 1 through 12 {
        .grid__col-md-#{$i} {
            width: 8.3333% * $i;
        }
    }
}

@media (min-width: 992px) {
    @for $i from 1 through 12 {
        .grid__col-lg-#{$i} {
            width: 8.3333% * $i;
        }
    }
}

@media (min-width: 1200px) {
    @for $i from 1 through 3 {
        .grid__col-xl-#{$i} {
            width: 8.3333% * $i;
        }
    }
}