@for $i from 1 through 11 {
    .offset-#{$i} {
        margin-left: 8.3333% * $i;
    }
}

@media (min-width: 540px) {
    margin-left: 0;
    @for $i from 1 through 12 {
        .offset-sm-#{$i} {
            margin-left: 8.3333% * $i;
        }
    }
}

@media (min-width: 720px) {
    margin-left: 0;
    @for $i from 1 through 12 {
        .offset-md-#{$i} {
            margin-left: 8.3333% * $i;
        }
    }
}

@media (min-width: 960px) {
    margin-left: 0;
    @for $i from 1 through 12 {
        .offset-lg-#{$i} {
            margin-left: 8.3333% * $i;
        }
    }
}

@media (min-width: 1140px) {
    margin-left: 0;
    @for $i from 1 through 3 {
        .offset-xl-#{$i} {
            margin-left: 8.3333% * $i;
        }
    }
}